form(class="form main__form" action="#" method="post")
  include introduce/introduce
  include skills/skills
  include js-level/js-level
  include about-me/about-me
  include plans/plans
  include date/date
      
    
