.about-me {
  padding-bottom: 34px;
  
  &__field {
    width: 768px;
    min-height: 60px;
    padding: 0;
    border: none;
    
    font-family: "Courier New", "monospaced";
    font-size: @biggest-size;
    line-height: @bigger-height;
    color: @tertiary;
    
    background-image: url(../img/string-underline.png);
    background-position: -10px -98px;
    background-color: transparent;
    
    resize: none;
    overflow: hidden;
  }
}