fieldset(class="js-level form__group")
  legend(class="title js-level__title") Уровень владения JavaScript
  div(class="js-level__slider")
    div(class="js-level__pin" tabindex="0")
    img(class="js-level__bar" src="img/slider-bar.png" width="774" height="60" alt="Прогрессивная шкала владения технологией JavaDcript")
    div(class="js-level__options")
      p(class="js-level__option") Не владею
      p(class="js-level__option") Использую готовые решения
      p(class="js-level__option") Использую готовые решения
        br 
        | и умею их переделывать
      p(class="js-level__option") Пишу сложный JS с нуля
