fieldset(class="date form__group")
  label(class="date__label" for="date-field") Дата заполнения
  input(class="date__field" type="text" name="date" placeholder="01.01.2016" value="" maxlength="10" id="date-field")
