fieldset(class="about-me form__group")
  legend(class="title about-me__title") Пару слов о себе
  p(class="about-me__subtitle")
  ul(class="about-me__list")
    li(class="about-me__item")
      label(class="about-me__underline")
        input(class="about-me__string" type="text" name="string" value="Активно занимаюсь Frontend разработкой." maxlength="42" placeholder="Ну-ууу-уу...")
    li(class="about-me__item")
      label(class="about-me__underline")
        input(class="about-me__string" type="text" name="string" value="Интересуюсь современными технологиями и" maxlength="42" placeholder="Ээээ...")
    li(class="about-me__item about-me__item--js")
      label(class="about-me__underline")
        input(class="about-me__string" type="text" name="string" value="космосом. Содержу мопса с забавным именем." maxlength="42")
