fieldset(class="about-me form__group")
  legend(class="title about-me__title") Пару слов о себе
  textarea(class="about-me__field" name="textfield" rows="3") Активно занимаюсь Frontend разработкой. Интересуюсь современными технологиями и космосом. Содержу мопса с забавным именем.
  